/* shu yerda bizni fontlar keladi! */
@font-face {
  font-family: "Barlow bold";
  src: url("../fonts/Barlow-ExtraBold.woff2") format("woff2"),
    url("../fonts/Barlow-ExtraBold.woff") format("woff"),
    url("../fonts/Barlow-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"),
    url("../fonts/Fraunces-Black.woff") format("woff"),
    url("../fonts/Fraunces-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff"),
    url("../fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow 600";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
    url("../fonts/Barlow-SemiBold.woff") format("woff"),
    url("../fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
