.quality {
  position: relative;
  margin: 245px 0px 170px;
  border-radius: 12px;
  padding: 100px 85px 176px;
  background-color: #2c343e;
}
.quality__content {
  width: 45%;
}
.quality__title {
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}
.quality__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0px;
}
.quality__img {
  position: absolute;
  right: 85px;
  top: -88px;
  border-radius: 10px;
}
.quality__img--tablet {
  display: none;
}
.quality__img--mobile {
  display: none;
}
@media only screen and (max-width: 1038px) {
  .quality {
    padding: 224px 74px 67px;
  }
  .quality__img {
    display: none;
  }
  .quality__img--tablet {
    display: block;
    position: absolute;

    left: 0;
    right: 0;
    top: -160px;
    margin: 0 auto;
  }
  .quality__img--mobile {
    display: none;
  }
  .quality__content {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 626px) {
  .quality {
    padding: 142px 24px 61px;
  }

  .quality__img--tablet {
    display: none;
  }
  .quality__img--mobile {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -78px;
    margin: 0 auto;
    width: 279px;
    height: 156px;
  }
  .quality__title {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #fefcf7;
  }
  .quality__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
